@inherits LayoutComponentBase

<div class="sidebar">
    <h3>Examples</h3>
    <ul>
        <li><NavLink href="example/button">Button</NavLink></li>
        <li><NavLink href="example/input">Input</NavLink></li>
        <li><NavLink href="example/form">Form</NavLink></li>
        <!-- To be Implemented. Add other components as needed -->
    </ul>
</div>

<div class="content">
    @Body
</div>

@code {
    // If needed, add any C# code for the layout here
}
