@page "/example"
<PageTitle>Examples</PageTitle>

<h2>Doon UI Component Examples</h2>
<p>Select a component from the list to view its example and documentation.</p>

<ul>
    <li><NavLink href="example/button">Button Example</NavLink></li>
    <li><NavLink href="example/input">Input Example</NavLink></li>
    <li><NavLink href="example/form">Form Example</NavLink></li>
    <!-- ... other components ... -->
</ul>
