@page "/example/form"
@layout ExampleLayout

<PageTitle>Form Example</PageTitle>

<h3>Form Example</h3>
<p>This is an example of the DoonForm component.</p>

<DoonUI.DoonForm Style="padding: 20px; border: 1px solid #ddd;">
    <DoonUI.DoonInput Style="width: 200px; height: 30px; color: blue; border: 1px solid black;" />
    <DoonUI.DoonInput Style="width: 200px; height: 30px; color: blue; border: 1px solid black;" />
    <button type="submit">Submit</button>
</DoonUI.DoonForm>

<p>Customize the form above using inline styles.</p>